<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Covid-19</title>
  <meta name="description" content="This is a template">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <!-- This connects to CSS file that doesn't yet exist -->
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="../">Home</a>
        </li>
        <li>
          <a href="../about">About</a>
        </li>
        <li>
          <a href="../resume">R&eacutesum&eacute</a>
        </li>
        <li>
          <a href="../contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->

    <div class="background-image">
      <div class="body-container">
        <h1>Today's Covid Data</h1>
        <div class="bc-content-chunk">
          <p>Total Cases in the U.S. as of today : <b>{{ totalCases }}</b></p>
          <p>There were <b>{{ newDailyCases }}</b> new cases since yesterday.</p>
          <p>That is a <b>{{ rateIncrease }} %</b> increase from yesterday's total of <b>{{ yesterdaysCases }}</b>. </p>
          <p>If this rate is extrapolated perfectly (obviously this is a statistical impossibility, yet interesting nonetheless) the entire U.S. population would be infected in <b>{{daysLeft}} days</b>. </p>
          <p>As of today, <b>{{ totalDeaths }}</b> Americans have died, with <b>{{ newDailyDeaths }}</b> deaths recorded since yesterday. </p>
          <br><br>
          <p>Source: </p>
          <p><a href="https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html">U.S. Center for Disease Control</a></p>
        </div>

      </div>

    </div>



  </div>



  <!-- This connects to JS file that doesnn't yet exist -->
  <!-- <script src="js/scripts.js"></script> -->


</body>
</html>
