<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Mortgage Calculator</title>
  <meta name="description" content="Calculator for determining highest affordable mortgage given income and debt">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <!-- This connects to CSS file that doesn't yet exist -->
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="../">Home</a>
        </li>
        <li>
          <a href="../about">About</a>
        </li>
        <li>
          <a href="../resume">R&eacutesum&eacute</a>
        </li>
        <li>
          <a href="../contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->

    <div class="">
      <div class="body-container">
        <!-- <div class="two-column-container">

        </div> -->
        <h1>Calculate Your Maximum Affordable Mortgage</h1>

        <!-- Gross Monthly Income Input -->
        <div class = "column1" id="input01"></div>
        <div class="column1 slidecontainer">
          <input type="range" min="1" max="10000" value="2000" class="slider" id="slider01">
        </div>

        <!-- Current Monthly Debt Input -->
        <div class = "column1" id="input02"></div>
        <div class="slidecontainer column1">
          <input type="range" min="0" max="2000" value="200" class="slider" id="slider02">
        </div>

        <!-- Bank-allowed post-mortgage debt to income (fixed at 43% for now) -->
        <div class = "column1" id="input03"></div>

        <!-- Calculation "intermediate data" values -->
        <div class = "column2" id="intermediate01" style="grid-row-start: 2;"></div>
        <div class = "column2" id="intermediate02" style="grid-row-start: 4;"></div>

        <!-- Final number: Maximum affordable mortgage -->
        <div class = "column2" id="outputHTML" style="grid-row-start: 6;"></div>

      </div>

    </div>



  </div>



  <!-- JAVASCRIPT -->
  <script src="{% static 'portfolio/js/mortgage_tool.js' %}"></script>


</body>

</html>
