<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>About</title>
  <meta name="description" content="This is a template">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <!-- This connects to CSS file that doesn't yet exist -->
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="../">Home</a>
        </li>
        <li>
          <a class="active-nav" href="../about">About</a>
        </li>
        <li>
          <a href="../resume">R&eacutesum&eacute</a>
        </li>
        <li>
          <a href="../contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->

    <div class="background-image">
      <div class="body-container">


      </div>
    </div>



  </div>


</body>
</html>
