<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>About</title>
  <meta name="description" content="This is the about page.">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

  <!-- Load Google Font API -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="../">Home</a>
        </li>
        <li>
          <a class="active-nav" href="../about">About</a>
        </li>
        <!-- <li>
          <a href="../resume">R&eacutesum&eacute</a>
        </li> -->
        <li>
          <a href="../contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->


    <div class="body-container-home">
      <div class="center text-left">
        <h1 class="underline">About me: </h1>
        <p> <b>Executive Summary:</b> </p>

        <p>Aspiring to become a software engineer, I'm in the junior year of a B.S. in Computer Science at Western Governor's University.  Received a certificate in Geospatial Information Systems (GIS) after learning drone flight, spatial analysis, and Python scripting which I used to build an internal tool for the Oregon Metro Data Research Center. Fluent in Mandarin Chinese and culturally aware after living in China for four years. Formerly a restaurant manager, once a language teacher, I bring a unique background to the table that combines international context, situational dexterity, empathetic communication, and technical skill. </p>

        <br>

    

      </div>

    </div>
    <footer>
      <div class="footer-item">
        <p>Site designed and programmed by Mike W Roberts.</p>
      </div>
      <div class="">
        <nav>
          <ul>
            <li>
              <a  href="./">Home</a>
            </li>
            <li>
              <a class="active-nav" href="./about">About</a>
            </li>
            <li>
              <a href="./contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

    </footer>



  </div>
</body>
</html>
