<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>About</title>
  <meta name="description" content="This is the about page.">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

  <!-- Load Google Font API -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="../">Home</a>
        </li>
        <li>
          <a class="active-nav" href="../about">About</a>
        </li>
        <!-- <li>
          <a href="../resume">R&eacutesum&eacute</a>
        </li> -->
        <li>
          <a href="../contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->


    <div class="body-container-home">
      <div class="center text-left">
        <h1 class="underline">About me: </h1>
        <p>I'm an aspiring software engineer, in the junior year of a Computer Science degree.  I see a swirling multitude of technological innovations converging into a chance for humanity to become a sustainable Type I Civilization. I am excited about the opportunity to play what role I can in this global revolution. </p>
        <p>I've always enjoyed solving problems and taking on hard challenges.  In high school I played drums in the band, but not just snare. I learned timpani, marimba, drum kit, jazz, roto-toms and wrote the drum cadence our school used in the parade. After high school, instead of going right to college, I saved up and bought a one-way ticket to China so I could learn one of the most difficult languages on the planet and experience the challenge of living in a very foreign country for four years. </p>
        <p>As for my education in the United States, I became interested in our global environmental problems. Instead of taking the obvious approach of studying Environmental Sciences, I pursued a certificate program in Geospatial Information Systems (GIS), where I learned how to fly drones, process geospatial data, and create beautiful maps. I also discovered I had more interest and aptitude in the underlying Python code, than making the actual maps.</p>
        <p>This leads to the main reason I am studying computer science. I've examined various proposed solutions to our global crisises, from dirt-in-hand permaculture, to governmental regulations and annual  academic discussions. I've come to firmly believe that the only way to solve these problems is through technological innovation. Tesla is doing more to address climate change than the EPA. Nvidia AI sorts recycling better than humans. Technology will provide the capabilities and options we collectively need to move forward as a civilization.  </p>

        <p><b>Ultimately, it's more interesting to build the solutions.</b></p>
        <br>

        <h3 class="underline">A few personal details: </h3>

        <p>Originally from the smallest state of New England (and of the country), I now reside in Portland, Oregon, with my partner and our axolotl. In addition to drums, I also play guitar, and recently picked up piano. One of my proudest moments was speaking to a Chinese person in Tianjin who thought I was also Chinese until I took my face mask off. I believe in tech solutions, yet part of me feels like the Matrix is less of a film trilogy and more of a prophecy. </p>

      </div>

    </div>
    <footer>
      <div class="footer-item">
        <p>Site designed and programmed by Mike W Roberts.</p>
      </div>
      <div class="">
        <nav>
          <ul>
            <li>
              <a class="active-nav" href="./">Home</a>
            </li>
            <li>
              <a href="./about">About</a>
            </li>
            <li>
              <a href="./contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

    </footer>



  </div>
</body>
</html>
