<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Contact</title>
  <meta name="description" content="This is the contact page.">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

  <!-- Load Google Font API -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="../">Home</a>
        </li>
        <li>
          <a href="../about">About</a>
        </li>
        <!-- <li>
          <a href="../resume">R&eacutesum&eacute</a>
        </li> -->
        <li>
          <a  class="active-nav" href="../contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->


    <div class="body-container-home">

      <div class="center">
        <h1 class="underline">Get in touch:</h1>
        <br><br>
        <p>(401)516-7058</p>
        <p>email@mikewroberts.com</p>
        <p><a href="https://www.linkedin.com/in/mikewroberts/">LinkedIn</a></p>
        <br><br>
      </div>

      <div class="center text-left">
        <p>I'm currently interested in internship opportunities and junior developer roles.</p>
        <p>Also, reach out if you have any interesting open source projects, I'd love to contribute.</p>
        <p>I'm particularly interested in learning more about C++, digital twins, and automation.</p>
        <p>If you're a fellow student, let's discuss projects and strategy.</p>
        <p>Note: I will not answer cold phone calls, but I will respond to a text or email.</p>
      </div>

      <div class="v-spacer"></div>
      <div class="v-spacer"></div>


    </div>
    <footer>
      <div class="footer-item">
        <p>Site designed and programmed by Mike W Roberts.</p>
      </div>
      <div class="">
        <nav>
          <ul>
            <li>
              <a href="./">Home</a>
            </li>
            <li>
              <a href="./about">About</a>
            </li>
            <li>
              <a class="active-nav" href="./contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>




  </div>
</body>
</html>
