<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Contact</title>
  <meta name="description" content="This is a template">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <!-- This connects to CSS file that doesn't yet exist -->
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="../">Home</a>
        </li>
        <li>
          <a href="../about">About</a>
        </li>
        <li>
          <a href="../resume">R&eacutesum&eacute</a>
        </li>
        <li>
          <a  class="active-nav" href="../contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->

    <div class="background-image">
      <div class="body-container" style="text-align:center;">
        <!-- <div class="column-center column-box black-emboss">
          <br>
          <h1>Let's Collaborate</h1>
          <br><br>
          <h3>Phone : 401-516-7058</h3>
          <h3>Email : email@mikewroberts.com</h3>
          <a href="https://www.linkedin.com/in/mikewroberts/">
            <h3>LinkedIn : linkedin.com/in/mikewroberts</h3>
          </a>
          <a href="#">
            <h3>Github : github.com/mikewroberts</h3>
          </a>
        </div> -->
      </div>

    </div>



  </div>



  <!-- This connects to JS file that doesnn't yet exist -->
  <!-- <script src="js/scripts.js"></script> -->


</body>
</html>
