<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Portfolio</title>
  <meta name="description" content="This is a template">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "portfolio/css/style.css" %}">

  <!-- Load Google Font API -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a class="active-nav" href="./">Home</a>
        </li>
        <li>
          <a href="./about">About</a>
        </li>
        <li>
          <a href="../resume">R&eacutesum&eacute</a>
        </li>
        <li>
          <a href="./contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->


    <div class="body-container-home">
      <div class="full-screen-height">

        <h3 class="center">Currently under construction.</h3>
        <div class="v-spacer"></div>

        <div class="circle-link" id="self-portrait"></div>

        <div id="name-box">
          <span>Mike W. Roberts</span>
        </div>

        <div id="subname-box">
          <span>Aspiring Software Engineer</span>
        </div>
      </div>


      <div style="margin: 0 auto 0 auto;">
        <h1>Projects</h1>
      </div>

      <div class="body-container">
        <a class="rectangle span2" id="featured_01" href="./projects/featured_01">
          <div>
            <div class="corner-label">
              <span class="big-text add-line-height">C++</span>
            </div>
            <div class="bottom-label">
              <span class="big-text add-line-height">Arduino Temperature Display</span>
            </div>
          </div>
        </a>
        <a class="rectangle span2" id="featured_02" href="./projects/featured_02">
          <div>
            <div class="corner-label">
              <span class="big-text add-line-height">Javascript</span>
            </div>
            <div class="bottom-label">
              <span class="big-text add-line-height">CO2 Emissions Map</span>
            </div>
          </div>
        </a>
        <a class="rectangle span2" href="./projects/featured_03">
          <div>
            <div class="corner-label"></div>
            <div class="bottom-label"></div>
          </div>
        </a>
        <a class="rectangle span2" href="./projects/featured_04">
          <div>
            <div class="corner-label"></div>
            <div class="bottom-label"></div>
          </div>
        </a>
      </div>

      <div class="v-spacer"></div>

      <div id="contact-section" style="margin: 0 auto 0 auto;">
        <h1>Contact</h1>
        <p></p>
        <p>(401)516-7058</p>
        <p>email@mikewroberts.com</p>
        <p><a href="https://www.linkedin.com/in/mikewroberts/">LinkedIn</a></p>

      </div>

      <div class="v-spacer"></div>

    </div>
    <footer>
      <div class="footer-item">
        <p>Site designed and programmed by Mike W Roberts.</p>
      </div>
      <div class="">
        <nav>
          <ul>
            <li>
              <a class="active-nav" href="./">Home</a>
            </li>
            <li>
              <a href="./about">About</a>
            </li>
            <li>
              <a href="../resume">R&eacutesum&eacute</a>
            </li>
            <li>
              <a href="./contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

    </footer>

  </div>  <!-- END APP CONTAINER-->



  <!-- This connects to JS file that doesnn't yet exist -->
  <!-- <script src="js/scripts.js"></script> -->


</body>
</html>
