<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Resume</title>
  <meta name="description" content="This is a template">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <!-- This connects to CSS file that doesn't yet exist -->
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

  <!-- Load Google Font API -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="./">Home</a>
        </li>
        <li>
          <a href="./about">About</a>
        </li>
        <li>
          <a class="active-nav" href="./resume">R&eacutesum&eacute</a>
        </li>
        <li>
          <a href="./contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->

    <div class="background-image">
      <div class="body-container" style="">




      </div>

    </div>



  </div>




</body>
</html>
