<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Resume</title>
  <meta name="description" content="This is a template">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <!-- This connects to CSS file that doesn't yet exist -->
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

</head>

<body>
  <div class="app-container-scroll">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="./">Home</a>
        </li>
        <li>
          <a href="./about">About</a>
        </li>
        <li>
          <a class="active-nav" href="./resume">R&eacutesum&eacute</a>
        </li>
        <li>
          <a href="./contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->

    <div class="background-image">
      <div class="body-container" style="">
        <div class="black-emboss column-center padding-lr-small">
          <!-- Exported .odt as .html and copy/paste -->
          <!-- resume_2021_Jan01.html -->
          <p lang="zxx" align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1.05pt double #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in">
          <font face="Segoe UI, sans-serif"><font size="3" style="font-size: 12pt"><b>M</b><b>ike
          W Roberts</b></font></font></p>
          <p lang="zxx" align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1.05pt double #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><b>~~~~~~~~[</b><span style="font-weight: normal">
           www.mikewroberts.com  </span><b>][</b><b> </b><span style="font-weight: normal">
          </span><font size="2" style="font-size: 10pt">(401) 516-7058</font> <b>
          </b><b>][</b> email@mikewroberts.com <b> ]</b><b>~~~~~~~~~</b></font></font></p>
          <p lang="zxx" align="center" style="margin-bottom: 0in"><br/>

          </p>
          <p lang="zxx" align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1.05pt double #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in">
          <font face="Segoe UI, sans-serif"><font size="3" style="font-size: 12pt"><b>Education</b></font></font></p>
          <table width="100%" cellpadding="4" cellspacing="0">
            <col width="128*">
            <col width="128*">
            <tr valign="top">
              <td width="50%" style="border: none; padding: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><b>Western
                Governor's University, Utah</b></font></font></p>
              </td>
              <td width="50%" style="border: none; padding: 0in">
                <p lang="zxx" align="right" style="font-weight: normal">
                <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">in-progress</font></font></p>
              </td>
            </tr>
          </table>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
            <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><font size="2" style="font-size: 10pt">Bachelor
          of Computer Science	</font>							   </font></font>
          </p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
          <br/>

          </p>
          <table width="100%" cellpadding="4" cellspacing="0">
            <col width="128*">
            <col width="128*">
            <tr valign="top">
              <td width="50%" style="border: none; padding: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><b>Portland
                Community College, Oregon</b></font></font></p>
              </td>
              <td width="50%" style="border: none; padding: 0in">
                <p lang="zxx" align="right"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">December</span><span style="font-weight: normal">
                2020</span></font></font></p>
              </td>
            </tr>
          </table>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
            <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">Geographic
          Information Systems Certificate Program</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
            <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">General
          Education for Transfer Program			        	        	      </font></font>
          </p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
            <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">Honors:
          President's List  -- Overall GPA: 3.70</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
            <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">Project:
          Custom Python GIS tool in ArcPro for government client in Metro</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
          <br/>

          </p>
          <table width="100%" cellpadding="4" cellspacing="0">
            <col width="128*">
            <col width="128*">
            <tr valign="top">
              <td width="50%" style="border: none; padding: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><b>Living
                in China</b></font></font></p>
              </td>
              <td width="50%" style="border: none; padding: 0in">
                <p lang="zxx" align="right"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">2009-2013</font></font></p>
              </td>
            </tr>
          </table>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
            <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><font size="2" style="font-size: 10pt">Mandarin
          Fluency – Tianjin Normal University </font><font size="2" style="font-size: 10pt">courses
          </font><font size="2" style="font-size: 10pt">&amp; </font><font size="2" style="font-size: 10pt">s</font><font size="2" style="font-size: 10pt">elf-</font><font size="2" style="font-size: 10pt">t</font><font size="2" style="font-size: 10pt">aught</font></font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
            <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">Cultural
          Awareness – worked and lived with locals</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
            <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">Educational
          Training – worked full-time teaching English as a Second Language </font></font>
          </p>
          <p lang="zxx" align="center" style="margin-bottom: 0in"><br/>

          </p>
          <p lang="zxx" align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1.05pt double #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in">
          <font face="Segoe UI, sans-serif"><font size="3" style="font-size: 12pt"><b>Skills</b></font></font></p>
          <p lang="zxx" align="center" style="margin-bottom: 0in; font-weight: normal">
          <br/>

          </p>
          <table width="659" cellpadding="4" cellspacing="0">
            <colgroup>
              <col width="147">
            </colgroup>
            <colgroup>
              <col width="130">
              <col width="124">
              <col width="225">
            </colgroup>
            <tr valign="top">
              <td width="147" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Programming</font></font></p>
              </td>
              <td width="130" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Spatial
                Analysis</font></font></p>
              </td>
              <td width="124" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Management</font></font></p>
              </td>
              <td width="225" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Customer
                Service</font></font></p>
              </td>
            </tr>
            <tr valign="top">
              <td width="147" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Web
                Development</font></font></p>
              </td>
              <td width="130" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Cartography</font></font></p>
              </td>
              <td width="124" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Team
                Training</font></font></p>
              </td>
              <td width="225" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Interpersonal
                Communication</font></font></p>
              </td>
            </tr>
            <tr valign="top">
              <td width="147" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Data
                Analysis</font></font></p>
              </td>
              <td width="130" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Graphic
                Design</font></font></p>
              </td>
              <td width="124" style="border: none; padding: 0in">
                <p lang="zxx" align="left"><br/>

                </p>
              </td>
              <td width="225" style="border: none; padding: 0in">
                <p lang="zxx" align="left"><br/>

                </p>
              </td>
            </tr>
          </table>
          <p lang="zxx" align="center" style="margin-bottom: 0in; font-weight: normal">
          <br/>

          </p>
          <p lang="zxx" align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1.05pt double #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in">
          <font face="Segoe UI, sans-serif"><font size="3" style="font-size: 12pt"><b>Tools</b></font></font></p>
          <p lang="zxx" align="center" style="margin-bottom: 0in; font-weight: normal">
          <br/>

          </p>
          <table width="630" cellpadding="4" cellspacing="0">
            <colgroup>
              <col width="117">
            </colgroup>
            <colgroup>
              <col width="118">
            </colgroup>
            <colgroup>
              <col width="118">
            </colgroup>
            <colgroup>
              <col width="94">
              <col width="142">
            </colgroup>
            <tr valign="top">
              <td width="117" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">SQL</font></font></p>
              </td>
              <td width="118" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">C++
                / C#</font></font></p>
              </td>
              <td width="118" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Python</font></font></p>
              </td>
              <td width="94" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0in 0.04in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Django</font></font></p>
              </td>
              <td width="142" style="border: none; padding: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Microsoft
                Office</font></font></p>
              </td>
            </tr>
            <tr valign="top">
              <td width="117" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">ArcGIS/ArcPro</font></font></p>
              </td>
              <td width="118" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">CLI
                / Terminal</font></font></p>
              </td>
              <td width="118" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Javascript</font></font></p>
              </td>
              <td width="94" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0in 0.04in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Heroku</font></font></p>
              </td>
              <td width="142" style="border: none; padding: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Adobe
                Creative</font></font></p>
              </td>
            </tr>
            <tr valign="top">
              <td width="117" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">QGIS</font></font></p>
              </td>
              <td width="118" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Linux</font></font></p>
              </td>
              <td width="118" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">HTML
                / CSS</font></font></p>
              </td>
              <td width="94" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Git</font></font></p>
              </td>
              <td width="142" style="border: none; padding: 0in">
                <p lang="zxx" align="left"><br/>

                </p>
              </td>
            </tr>
          </table>
          <p lang="zxx" align="center" style="margin-bottom: 0in"><br/>

          </p>
          <p lang="zxx" align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1.05pt double #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in">
          <font face="Segoe UI, sans-serif"><font size="3" style="font-size: 12pt"><b>Professional
          Experience</b></font></font></p>
          <table width="665" cellpadding="4" cellspacing="0">
            <col width="466">
            <col width="183">
            <tr valign="top">
              <td width="466" style="border: none; padding: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><b>Seasons
                &amp; Regions Seafood Grill, Portland OR</b></font></font></p>
              </td>
              <td width="183" style="border: none; padding: 0in">
                <p lang="zxx" align="right"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">May
                2017 - present</font></font></p>
              </td>
            </tr>
          </table>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt"><i>Restaurant
          Manager | Kitchen Expediter | Problem Solver</i></font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">-
          Integrated new POS software, trained staff on usage, troubleshooted
          and modified system during   	pandemic to rapidly and successfully
          transition business model</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">-
          Increased efficiency of expediter system with new procedures and
          staff allocation, decreased rate of minor 	errors to between 0.5% and
          1.0%</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">-
          Statistically analyzed sales data to determine efficacy of new
          promotion with results leading to 	integrating promotion permanently
          as part of business model</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">-
          Remedied recurring inventory shortages with procedural/organizational
          overhaul</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <br/>

          </p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <br/>

          </p>
          <p lang="zxx" align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1.05pt double #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><span style="font-style: normal"><b>Projects
          </b></span></font></font><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><span style="font-style: normal"><b>Sample</b></span></font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><b>Django
          Heroku Website </b></font></font>
          </p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">Custom
          HTML, CSS, JS front-end with a Django backend served up by the Heroku
          platform and connected to a PostgreSQL database. Various small apps
          in production. This project required learning Git and version control
          to push to Heroku, configuring Django and Heroku, and using
          environment variables to seperate dev and production.</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <br/>

          </p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><b>ArcPro
          Tool for Metro Regional Government</b></font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">Transformed
          a standalone script, written by Al Mowbray at the Metro Data Research
          Center, into an integrated ArcPro Python Tool to ship to other
          departments to use in various GIS analyses. Delivered on time and to
          specifications, with additional feature of expandable test jig for
          debugging and a 3D extrusion of finished map in Blender.  Learned the
          details of AcrPro's unique flavor of Python for tooling and an
          effective project management framework. </font></font>
          </p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <br/>

          </p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><b>Javascript
          Web Map Application</b></font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">An
          interactive component of a climate-change-related GIS research
          project. Uses Mapbox’s javascript library to render custom
          geographically-defined svg objects with GeoJSON formatting.
          Interactivity written in standard Javascript.</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <br/>

          </p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><b>Grid
          Map Procedural Generator </b></font></font>
          </p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-style: normal; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">Program
          that can be used to generate a tile-based map for various end-uses
          (video games). “Rooms” generated with random shapes, sizes, and
          placements with an edge-detection moving-window algorithm running
          afterwards to delineate “Walls”. Built with C# and connected to
          Unity to use textfile to generate 3D blocks. In effect extrudes the
          2D textfile into 3D game world.</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">			</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><b>Other
          Projects : </b></font></font>
          </p>
          <table width="659" cellpadding="4" cellspacing="0">
            <col width="195">
            <col width="208">
            <col width="231">
            <tr valign="top">
              <td width="195" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">covid-19
                web scraper</font></font></p>
              </td>
              <td width="208" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">mortgage
                calculator</font></font></p>
              </td>
              <td width="231" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">electric
                bill analyzer</font></font></p>
              </td>
            </tr>
            <tr valign="top">
              <td width="195" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">CO2
                emissions projections</font></font></p>
              </td>
              <td width="208" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">investment
                scenario calculator</font></font></p>
              </td>
              <td width="231" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.04in; padding-right: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">text-based
                console games</font></font></p>
              </td>
            </tr>
          </table>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">				</font></font></p>
          <p lang="zxx" align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1.05pt double #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in">
          <font face="Segoe UI, sans-serif"><font size="3" style="font-size: 12pt"><b>Certifications
          </b></font></font>
          </p>
          <table width="665" cellpadding="4" cellspacing="0">
            <col width="466">
            <col width="183">
            <tr valign="top">
              <td width="466" style="border: none; padding: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Geographic
                Information Systems (GIS) </font></font>
                </p>
              </td>
              <td width="183" style="border: none; padding: 0in">
                <p lang="zxx" align="right"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">June
                2020</font></font></p>
              </td>
            </tr>
            <tr valign="top">
              <td width="466" style="border: none; padding: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">Permaculture
                Design </font></font>
                </p>
              </td>
              <td width="183" style="border: none; padding: 0in">
                <p lang="zxx" align="right"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt">October
                2013</font></font></p>
              </td>
            </tr>
          </table>
          <p lang="zxx" align="left" style="margin-bottom: 0in"><br/>

          </p>
          <p lang="zxx" align="center" style="margin-bottom: 0in; border-top: none; border-bottom: 1.05pt double #000000; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.03in; padding-left: 0in; padding-right: 0in">
          <font face="Segoe UI, sans-serif"><font size="3" style="font-size: 12pt"><b>Volunteer</b></font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
          <br/>

          </p>
          <table width="100%" cellpadding="4" cellspacing="0">
            <col width="128*">
            <col width="128*">
            <tr valign="top">
              <td width="50%" style="border: none; padding: 0in">
                <p lang="zxx" align="left"><font face="Segoe UI, sans-serif"><font size="2" style="font-size: 11pt"><b>Portland
                Community College, Oregon</b></font></font></p>
              </td>
              <td width="50%" style="border: none; padding: 0in">
                <p lang="zxx" align="right" style="font-weight: normal"><br/>

                </p>
              </td>
            </tr>
          </table>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
            <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">Adobe
          Workshop </font></font>
          </p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">	Taught
          a large group of professional students how to efficiently transfer
          ArcGIS files into Adobe 	Illustrator and perform various finishing
          visual effects while maintaining geographical integrity</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
            <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">Student
          Lobby</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">	Participated
          in college lobbying effort with state government in Salem for
          additional funding</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
            <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">Student
          Government</font></font></p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">	Liaison
          between student government and state government </font></font>
          </p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
            <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">Sustainability
          Department </font></font>
          </p>
          <p lang="zxx" align="left" style="margin-bottom: 0in; font-weight: normal">
          <font face="Segoe UI, sans-serif"><font size="2" style="font-size: 10pt">	Performed
          large scale composting of on-site food waste for use in school's
          farm, and general garden 	labor </font></font>
          </p>
          <p></p>
          <p></p>
        </div>



      </div>

    </div>



  </div>



  <!-- This connects to JS file that doesnn't yet exist -->
  <!-- <script src="js/scripts.js"></script> -->


</body>
</html>
