beautifulsoup4==4.6.3
lxml==4.5.2
boto==2.46.1
contextlib2==0.5.5
Cython==0.25.2
dj-database-url==0.5.0
Django==2.2.4
django-heroku==0.3.1
docutils==0.13.1
gunicorn==20.0.4
html5lib==0.999
numba==0.33.0
numexpr==2.6.2
numpy==1.12.1
numpydoc==0.6.0
pandas==0.20.1
Pillow==4.1.1
psycopg2==2.8.3
requests==2.14.2
whitenoise==5.0.1
dash==1.15.0
