{% load %}

* html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  color: #A39687;
  overflow: hidden;
  background-color: #020202;
  font-family: "Montserrat", sans-serif;

}
img {
  /* outline: solid; */
  /* border: 0px solid white; */
  /* max-width: 100%; */
}

a {
  color: white;
  text-decoration: none;
}

/* ############################ */
/* ######### NAV BAR ########## */
/* ############################ */

nav{
  display: flex;
  height: 10vh;
  background-color: #222;
  justify-content: right;
  position: relative;
}
nav ul{
  display: flex;
  position: absolute;
  bottom: 2vh;
  margin:0 0 .5vh 0;
  height: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}
nav ul li{
  list-style-type: none;
}
nav ul li:hover{
  border-top: 1px solid black !important;
  border-bottom: 1px solid #777;
  border-radius: 5em;
  margin-top: -2px;
}
nav > ul > li > a {
  text-decoration: none;
  color: #A39687;
  height: 5vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav ul li a:hover{
  color: #F4F4F4;
}
.active-nav{
  color: #F4F4F4;
}

/* ############################ */
/* ######## HOME PAGE ######### */
/* ############################ */

#self-portrait{
  background-image: url(../img/selfPortrait_bw.jpg);
  background-size: cover;
  background-position: center;
}
#self-portrait:hover{
  background-image: url(../img/selfPortrait_blue.jpg);
  background-size: cover;
  background-position: center;
  transition-duration: 1.0s;
}
#name-box{
  color: #A39687;
  display: block;
  height: 9vh;
  width: 25vw;
  margin: 2.5vh auto 0vh auto;
  text-align: center;
  font-size: 2.4em;
  line-height: 2.2em;
  border-bottom: 1px solid #A39687;
}
#subname-box{
  color: #A39687;
  display: block;
  height: 5vh;
  width: 20vw;
  margin: 0.2vh auto 0vh auto;
  text-align: center;
  font-size: 1.2em;
  border-top: 1px solid #A39687;
}


/* ############################ */
/* ##### GENERAL STYLES ####### */
/* ############################ */


.black-emboss{
  background-color: #1C1C1C;
  border-top: 2px solid #111;
  border-right: 4px solid #333;
  border-bottom: 4px solid #111;
  border-left: 4px solid #333;
  color: #7A6E61;
}
.black-emboss p{
  color: #7A6E61
}
.black-emboss h1,h3 {
  color: #A39687
}

.right-justify{
  margin-left: auto;
  margin-right: -1vw;
}
.left-justify{
  margin-left: -1vw;
  margin-right: auto;
}
.column-box{
  display: block;
  height: 75vh;
  width: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #e5e5e5;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.padding-right{
  padding-right: 5vw;
}
.padding-left{
  padding-left: 5vw;
}
.padding-lr-small{
  padding-right: 1vw;
  padding-left: 1vw;
}
.scroll-enabled{
  overflow-y: scroll;
}


/*                            # */
/*                           ## */
/* ############################ */
/* ############################ */

.app-container{
  height: 99.6vh;
  background-color: #222;
  overflow-y: auto;
}
.body-container-home{
  display: flex;
  flex-direction: column;
}
.two-column-container {
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vh;
}
.column1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.column2 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.column-center{
  grid-column-start: 2;
  grid-column-end: 4;
}
.body-container{
  /* border: 2px solid black; */
  padding: 1vh 3vw;
  min-width: 50vw;
  max-width: 80vw;
  height: auto;
  margin: 5vh auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10vh;
  text-align: center;
  align-content: center;

}
.body-container > h1 {
  grid-column: span 4;
}
.body-container-3col{
  /* border: 2px solid black; */
  background-color: #444;
  padding: 1vh 3vw;
  width: auto;
  height: auto;
  margin: 5vh 5vw 0 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5vh;
  text-align: center;
  box-shadow: inset -.25em -.25em .5em 0em #666,
              inset .25em .25em .5em 0em black

              ;
}

.bc-content-chunk {
  grid-column: span 4;
}

.span4 {  grid-column: span 4; }

.span3 {  grid-column: span 3; }

.span2 {  grid-column: span 2; }

.span1 {  grid-column: span 1; }

.bc-content-chunk > p > b {
  color: lightgreen;
  font-size: 110%;
}
.v-spacer{
  display:block;
  height: 10vh;
}

.rectangle{
  border: 1px solid #A39687;
  background-color: #A39687;
  display: block;
  height: 35vh;
  width: 35vw;
  position: relative;
  overflow: hidden;
}
.corner-label{
  border: 3px solid #A39687;
  background-color: #6BADD7;
  display: block;
  height: 8vh;
  width: 10vw;
  float: right;
}
.bottom-label{
  border: 3px solid #A39687;
  background-color: #6BADD7;
  display: block;
  height: 8vh;
  width: 99%;
  bottom: 0px;
  position: absolute;
}
.circle-link{
  border: 3px solid #A39687;
  border-radius: 20em;
  box-shadow: inset -.25em -.25em .5em 0em #111,
              inset .25em .25em .5em 0em #888,
              0 0 .5em 0em #111;
  background-color: #333;
  width: 20vw;
  height: 20vw;
  text-align: center;
  margin: -2.5vh auto 0vh auto;
  font-size: 4.5vh;
  text-decoration: none;
  color: white;
  min-width: 25vh;
  opacity: 100%;
  transition-property: box-shadow;

}
.circle-link:hover{
  box-shadow: inset -.25em -.25em .5em 0em black,
              inset .25em .25em .5em 0em white,
              0 0 .5em 0em #111;
  color: white;
  border: 3px solid #BD8545;
  transition-duration: 0.25s;

}

  /**********************/
 /*    RESUME PAGE     */
/**********************/

.pdf{
  width: 100%;
  height: 80vh;
  grid-column: span 4;
  display: flex;
}

@media (max-width: 700px) {
  .pdf{
    flex-direction: column;
  }
}


  /**********************/
 /*    CONTACT PAGE    */
/**********************/

.contact-page{
  box-shadow: inset 0 0 4em .5em black;
  border: 2px solid black;
  background-color: #222;
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: column;
  padding: 10vh 0 20vh 0;
}
.contact-page > a {
  text-decoration: none;
  color: white;
}
.contact-page > a:hover {
  text-decoration: none;
  color: orange;
  transform: scale(1.05, 1.05);
}
@media (max-width: 700px) {
  .contact-page{
    grid-column: span 4;
  }
}

  /**********************/
 /*  MAP DETAIL PAGE   */
/**********************/

.map-page{
  /* border: 2px solid white; */
  height: 80vh;
  width: auto;
  grid-column: span 4;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
}
.map-self{
  /* border: 2px solid blue; */
  height: 100%;
  width: 100%;
  position: relative;
  grid-column: 1 / span 2;
}
.map-self > h1{
  position: absolute;
  left: 2rem;
  top: -4rem;
  text-shadow: 2px 2px black;
}
.map-panel{
  /* border: 2px solid yellow; */
  background-color: #333;
  height: 100%;
  max-height: 80vh;
  overflow-y: scroll;
  /* overflow-x: visible; */
  width: auto;
  /* right: 0; */
  /* top: 0; */
  display: none;
  grid-column: 2 / 3;
  padding: 0 1rem 0 1rem;
  /* margin: 0 1rem 0 1rem; */
}
.map-buttons{
  /* border: 2px solid red; */
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;

}
.map-button{
  /* border: 2px solid green; */
  width: 80%;
  height: 10vh;
  box-shadow:
              .25em .25em .5em 0em black,
              -.15em -.15em .5em -.15em white
              ;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.map-button:hover{
  background-color: lightgrey;
  /* box-shadow: inset 0 0 .5em .5em black; */
}

.map-button > p {
  margin: 20% 0 25% 0;
}
.map-button:hover > p {
  color: black;
  /* font-size: 110%; */
  font-weight: bold;
}

/* ################################# */
/* ########     MOBILE   ########### */
/* ################################# */

@media (max-width: 1000px) {

  body {
    overflow: visible;
    /* overflow-y: scroll; */
    overflow-x: hidden;
  }
  .app-container{
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .body-container > a {
    grid-column: span 4;
  }
  .body-container-3col > a {
    grid-column: span 3;
  }

  .circles-container{
    flex-direction: column;
    height: auto;
    margin: -5vh auto -5vh auto;
    padding: 10vh 0 15vh 0;
    width: 25vw;
  }
  .circle-link{
    min-width: 0;
    width: 50vw;
    margin: 5vh 0 0vh -12.5vw;
    overflow: hidden;
  }
  /* REMOVE FOLLOWING CODELINE WHEN MAKING MOBILE NAV DROPDOWN */
  nav{
    height: 22vh;
    box-shadow: inset 0em -1em .5em -1em #111,
                inset 0em 1em .5em -.5em black
  }

  nav ul {
    padding-top: 2vh;
    flex-direction: column;
    height: 22vh;
    /* ACTIVATE WHEN MAKING THE MOBILE NAV DROPDOWN */
    /* display: none;  */
    position: sticky;
  }


  nav:hover{
    height: 22vh;
  }
  nav:hover ul{
    display: flex;
    bottom: auto;
    top: 1vh;
  }
  .intro{
    flex-direction: column;
    height: auto;
    min-height: 75vh;
    width: 100vw;
    margin: 0 -5vh 0 -1vh;
  }
  #intro-stripe{
    width:auto;
    height: auto;
    flex-direction: column;
    min-height: 75vh;
    margin-top: 0vh;
    margin-right: -2vw;
  }
  #intro-text, #img-face{
    width: auto;
    min-height: 25vh;
    margin: 5vh 0 5vh 0;
  }
  #intro-text{
    text-align: center;
  }
  #img-face:hover{
    margin-left: -5vw;
  }
  .body-container{
    /* border: 2px solid black; */
    /* background-color: #444; */
    padding: 1vh 1vw;
    width: auto;
    height: auto;
    margin: 2vh 0vw 0 0vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vh;
    text-align: center;

  }
  .column1 {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .column2 {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .column-center{
    grid-column-start: 1;
    grid-column-end: 5;
  }

}
