<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Maps</title>
  <meta name="description" content="This is a template">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <!-- This connects to CSS file that doesn't yet exist -->
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="../">Home</a>
        </li>
        <li>
          <a href="../about">About</a>
        </li>
        <li>
          <a href="../resume">R&eacutesum&eacute</a>
        </li>
        <li>
          <a href="../contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->

    <div class="background-image">
      <div class="body-container">

        <div class="map-page" >
          <div class="map-self" id="feature3">
            <div class="">
              <img src="{% static '/portfolio/img/maps/feature3.jpg' %}" alt="">
            </div>

          </div>

          <div class="map-panel" id="panel" style=""></div>
          <div class="map-buttons" >
            <div class="map-button" id="button01" onclick="mapbutton1()"><p>Map Description</P></div>
            <div class="map-button" id="button02" onclick="mapbutton2()"><p>Process</P></div>
            <div class="map-button" id="button03" onclick="mapbutton3()"><p>Tools</P></div>
            <div class="map-button" id="button04" onclick="mapbutton4()"><p>Data Sources</div>
            <div class="map-button" id="button05" onclick="mapbutton5()"><p>Clear Panel</div>
          </div>

        </div>
      </div>

    </div>



  </div>



  <!-- ######################### -->
  <!-- #  Javascript Map Panel # -->
  <!-- ######################### -->
  <script src="{% static 'portfolio/js/mappanel.js' %}"></script>
  <script type="text/javascript">
    var panel = document.getElementById("panel");
    var mapself = document.getElementsByClassName("map-self")[0]; //Testing
    var button01 = document.getElementById("button01");
    var button02 = document.getElementById("button02");
    var button03 = document.getElementById("button03");
    var button04 = document.getElementById("button04");
    var button04 = document.getElementById("button04");
    function mapbutton1(){
      panel.style.display="block";
      mapself.style.gridColumn = "1 / span 1"; // Testing
      panel.innerHTML = mapPanelData.map1.description;
    }
    function mapbutton2(){
      panel.style.display="block";
      mapself.style.gridColumn = "1 / span 1"; // Testing
      panel.innerHTML = mapPanelData.map1.process;
    }
    function mapbutton3(){
      panel.style.display="block";
      mapself.style.gridColumn = "1 / span 1"; // Testing
      panel.innerHTML = mapPanelData.map1.tools;
    }
    function mapbutton4(){
      panel.style.display="block";
      mapself.style.gridColumn = "1 / span 1"; // Testing
      panel.innerHTML = mapPanelData.map1.data;
    }
    function mapbutton5(){
      panel.style.display="none";
      mapself.style.gridColumn = "1 / span 2"; // Testing
    }

  </script>


</body>
</html>
