<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Mike W. Roberts</title>
  <meta name="description" content="This is project detail page.">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

  <!-- Load Google Font API -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="../">Home</a>
        </li>
        <li>
          <a href="../about">About</a>
        </li>
        <li>
          <a href="../resume">R&eacutesum&eacute</a>
        </li>
        <li>
          <a href="../contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->

    <div class="background-image">
      <div class="body-container-home">

        <div class="center">
          <span class=" big-text underline">Arduino Temperature Display</span>
        </div>

        <div class="center">
          <p>Project description.</p>
          <a href="https://github.com/mikewroberts/arduino-water-temp">Github Repo</a>
        </div>

        <div class="v-spacer"></div>

        <div class="center video-container">
          <p>Video goes here.</p>
        </div>

        <div class="v-spacer"></div>

        <div id="name-box">
          <span>Project Details</span>
        </div>

        <div class="center">
          <p>Tech Stack: </p>
          <p>Features: </p>
          <p>Challenges: </p>
        </div>

        <div class="v-spacer"></div>
        <div class="v-spacer"></div>
        <div class="v-spacer"></div>


      </div>
    </div>

    <footer>
      <div class="footer-item">
        <p>Site designed and programmed by Mike W Roberts.</p>
      </div>
      <div class="">
        <nav>
          <ul>
            <li>
              <a class="active-nav" href="./">Home</a>
            </li>
            <li>
              <a href="./about">About</a>
            </li>
            <li>
              <a href="../resume">R&eacutesum&eacute</a>
            </li>
            <li>
              <a href="./contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>


  </div>


</body>
</html>
