<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Mike W. Roberts</title>
  <meta name="description" content="This is project detail page.">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

  <!-- Load Google Font API -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="../">Home</a>
        </li>
        <li>
          <a href="../about">About</a>
        </li>
        <li>
          <a href="../resume">R&eacutesum&eacute</a>
        </li>
        <li>
          <a href="../contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->

    <div class="background-image">
      <div class="body-container-home">

        <div class="big-text underline center">
          <span>Procedural Content Generator</span>
        </div>

        <div class="center">
          <p>This project procedurally generates a map in a text file, detects the walls, and records the wall coordinates in a file that is read by a script in Unity. Unity uses the coordinates to place cube objects, making the walls for the procedurally generated dungeon layout.</p>
          <p>View code at :   <a class="center" href="https://github.com/mikewroberts/pcg">Github Repo</a></p>
        </div>

        <div class="v-spacer"></div>

        <div class="center">
          <span class="underline big-text">Project Details</span>
        </div>

        <div class="center text-left">

          <p>Python is used to generate the map text file and record the coordinates. Unity is used to create the 3D objects with a C# script.</p><br>

          <p><b>Step O1:</b></p>
          <p>Creates the randomly generated area. This is done with randomly placed rectangles that overlap. Empty space is represented by '-' characters, and the interior area is denoted with 'x'.</p>

        </div>

        <div class="center image-container" id="prj-img-unity-01"></div>

        <div class="center text-left">

          <p><b>Step O2:</b></p>
          <p>This was the hard part. In order to delineate the walls, a moving-window algorithm was developed. This algorithm iterates through the whole map line-by-line until it detects a room area. Then it moves around the room area, changing the symbol from 'x' to '0'. A new file with just '0' characters for walls is created. While this file is being created, the algorithm records the (x,y) coordinates to a seperate data file for export to Unity.  </p>

        </div>

        <div class="center image-container" id="prj-img-unity-02"></div>

        <div class="center text-left">
          <p> <b>Step O3:</b> </p>
          <p>A simple C# script is used to parse the data file into Unity data structures. A new cube object is created and placed at the corresponding coordinate in the 3D space.</p>
        </div>

        <div class="center image-container" id="prj-img-unity-03"></div>

        <div class="v-spacer"></div>
        <div class="v-spacer"></div>
        <div class="v-spacer"></div>


      </div>
    </div>

    <footer>
      <div class="footer-item">
        <p>Site designed and programmed by Mike W Roberts.</p>
      </div>
      <div class="">
        <nav>
          <ul>
            <li>
              <a class="active-nav" href="./">Home</a>
            </li>
            <li>
              <a href="./about">About</a>
            </li>
            <li>
              <a href="../resume">R&eacutesum&eacute</a>
            </li>
            <li>
              <a href="./contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>


  </div>


</body>
</html>
