<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Mike W. Roberts</title>
  <meta name="description" content="This is project detail page.">
  <meta name="author" content="Mike W Roberts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">

  <!-- Load Google Font API -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>

<body>
  <div class="app-container">

    <!-- ######################### -->
    <!-- #      Navigation       # -->
    <!-- ######################### -->

    <nav>
      <ul>
        <li>
          <a href="../">Home</a>
        </li>
        <li>
          <a href="../about">About</a>
        </li>
        <li>
          <a href="../resume">R&eacutesum&eacute</a>
        </li>
        <li>
          <a href="../contact">Contact</a>
        </li>
      </ul>
    </nav>


    <!-- ######################### -->
    <!-- #      Body Content     # -->
    <!-- ######################### -->

    <div class="background-image">
      <div class="body-container-home">

        <div class="big-text underline center">
          <span>CO2 Emissions Webmap</span>
        </div>

        <div class="center">
          <p>Javascript interactive webmap that displays the CO2 emissions details of the countries with the highest emissions in 2016. </p>
          <p>View code at :   <a class="center" href="https://github.com/mikewroberts/co2-webmap">Github Repo</a></p>
        </div>

        <div class="v-spacer"></div>
        <a href="https://emissionsapp.mikewroberts.com/"><div class="center image-container" id="prj-img-jsmap"></div></a>

        <div class="v-spacer"></div>

        <div id="name-box">
          <span>Project Details</span>
        </div>

        <div class="center">
          <p><b>Purpose: </b></p>

          <p>This project is intended to provide an easy and interactive way to see which countries are emitting the most CO2. </p>

          <p><b>Code: </b></p>

          <p>This project mainly uses Javascript, CSS and HTML.
          <br>JQuery is utilized, as well as APIs from Stamen (for the basemap tile layer) and Leaflet (for the map interactivity). <br> The geographic data is held in geoJSON vector files, created with QGIS. </p>

        </div>

        <div class="v-spacer"></div>
        <div class="v-spacer"></div>
        <div class="v-spacer"></div>


      </div>
    </div>

    <footer>
      <div class="footer-item">
        <p>Site designed and programmed by Mike W Roberts.</p>
      </div>
      <div class="">
        <nav>
          <ul>
            <li>
              <a class="active-nav" href="./">Home</a>
            </li>
            <li>
              <a href="./about">About</a>
            </li>
            <li>
              <a href="../resume">R&eacutesum&eacute</a>
            </li>
            <li>
              <a href="./contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>


  </div>


</body>
</html>
